<head>
<style>
body {
  background-color: lightgray;
}  
h1 {
  color: black
  text-alignment: center;
}

<canvas id="graph" width="800" height="800" style="border:3px solid #000000;">
</canvas>

</style>
</head>
